.NavigationBar {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    box-shadow: 2px 4px 2px -2px gray;
  }
}

.Logo {
  height: 100%;
  width: auto;
  padding: 10px;
  background-color: #191923;

  img {
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

.SearchBarLi {
  flex: 1;
  height: 100%;
}
