.Photo {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #191923;
    border: none;
  }

  &__buttons {
    display: flex;
    gap: 10px;

    button,
    a {
      padding: 5px 10px;
      font-size: 1rem;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      border: 1px solid #191923;
      cursor: pointer;

      &:hover:not(:disabled) {
        scale: 1.1;
      }
    }

    &__back,
    &__update {
      background-color: #fff;
      color: #191923;

      &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: initial;
      }
    }

    &__delete {
      background-color: #191923;
      color: #fff;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  &__body {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__image {
    max-width: 100%;
  }
}
