* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
}

main {
  padding: 2rem 0;
  min-height: calc(100vh - 60px - 50px - 1rem);
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #191923;
  text-transform: uppercase;
}
